<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding-left: 1em !important;"
    *ngIf="theater!==undefined">
    <div class="container-fluid">
        <!-- TL LOGO -->
        <a class="navbar-brand m-0"> {{theater["name"]}} </a>

        <!-- BUTTON FOR MENU COLLAPSE -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: end;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="showhidetheaterinfo()">Theater info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Option1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Option2</a>
                </li>
            </ul>
        </div>

    </div>
</nav>


<!-- 
    #0f131a  OUT
    #212529  INT 
 -->


<div class="container container-wrapper">

    <div class="row p-1 mg-1">

        <div class="col-6 text-left d-flex">
            &nbsp;
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" (click)="makezoom(0.1)">
                    <i class="bi bi-zoom-in"></i>
                </button>
                <button type="button" class="btn btn-secondary" (click)="showallcomponent()">
                    <i class="bi bi-aspect-ratio"> </i>
                </button>
                <button type="button" class="btn btn-secondary" (click)="makezoom(-0.1)">
                    <i class="bi bi-zoom-out"></i>
                </button>
            </div>

            <i class="bi bi-grip-vertical" style="margin-top: auto; margin-bottom: auto;"></i>

            <button type="button" class="btn btn-secondary" (click)="removeminimap()">
                <div class="" style="display: grid;">
                    <i *ngIf="!ismapvisible" class="bi bi-slash-lg" style="z-index: 1;grid-row: 1;grid-column: 1;"></i>
                    <i class="bi bi-map" style="grid-row: 1;grid-column: 1;"></i>
                </div>
            </button>

            <i class="bi bi-grip-vertical" style="margin-top: auto; margin-bottom: auto;"></i>

            <div class="">
                <input ngxTypeahead type="text" placeholder="Find Module" style="color:white;" class="col-sm-12 form-control bg-secondary"
                    [value]="nodetofind" [taList]="namelist" (taSelected)="findElement($event)">
                <!-- <button type="button" class="btn btn-info" (click)="findElement()">find</button> -->
            </div>

        </div>



    </div>


    <div class="row wrapper" style="padding: 1em; padding-top: 0;">

        <div class="col p-0" style="width: 100%; height: 100%;">
            <div #nodeEditor class="node-editor rete-wrapper" style="
            border-radius: 1.7em;
            /* margin: 2em; */
            ">
            </div>
        </div>

        <!-- 
            #0f131a  OUT
            #212529  INT 
        -->

        <!-- <div class="col side-wrapper side-wrapper-opt" *ngIf="showside && hidemoduleinfo">
            <div class="row mt-2 mb-2">
                <div class="col m-auto">
                    <h4 class="m-auto">Node Properties</h4>
                </div>
                <div class="col m-auto" style="text-align: end;">
                    <button type="button" class="btn-close btn-close-white" aria-label="Close"
                        (click)="hidemoduleinfo=false"> </button>
                </div>
            </div>

            <div *ngFor="let item of nodeselected.canvas_info | keyvalue">
                <div>
                    <cite class="mt-4" style="font-size: small;"> -{{item.key}} </cite>
                    <h5> {{item.value}} </h5>
                </div>
            </div>
            <div style="width: 100%; height: 100%;">
                <app-rete-modules [module]="nodeselected"></app-rete-modules>
            </div>
        </div> -->

    </div>
</div>

<!-- OFFCANVAS MODULE DATA -->

<div *ngIf="showside && hidemoduleinfo" class="offcanvas offcanvas-end show offcanvasstyle" tabindex="-1"
    id="offcanvasInfo" data-bs-scroll="true" data-bs-backdrop="false" aria-labelledby="offcanvasInfoLabel"
    style="visibility: visible; min-width: 50%; opacity: 99%; box-shadow: 0 .5rem 1rem rgba(0,0,0,.53)!important;">
    <div class="offcanvas-header side-wrapper-opt">
        <h5 class="offcanvas-title" id="offcanvasInfoLabel">{{nodeselected.canvas_info.title}}</h5>
        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close" (click)="hidemoduleinfo=false"></button>
    </div>
    <div class="offcanvas-body side-wrapper-opt offcanvasbodystyle">
        <h5 class="pb-2" style="font-style: italic;">Node Properties</h5>
        <div *ngFor="let item of nodeselected.canvas_info | keyvalue">
            <div>
                <cite class="mt-4" style="font-size: small;"> -{{item.key}} </cite>
                <h5> {{item.value}} </h5>
            </div>
            <!-- <b>{{item.key}}</b>: <b>{{item.value}}</b> -->
        </div>

        <cite class="mt-4" style="font-size: small;"> - Hosts topoloy </cite>
        <div style="width: 100%; height: 100%;">
            <app-rete-modules [module]="nodeselected"></app-rete-modules>
        </div>
    </div>
</div>

<!-- OFFCANVAS THEATER DATA -->

<div *ngIf="showside && hidetheaterinfo" class="offcanvas offcanvas-end show offcanvasstyle" tabindex="-1"
    id="offcanvasInfo" data-bs-scroll="true" data-bs-backdrop="false" aria-labelledby="offcanvasInfoLabel"
    style="visibility: visible; min-width: 50%; opacity: 99%; box-shadow: 0 .5rem 1rem rgba(0,0,0,.53)!important;">
    <div class="offcanvas-header side-wrapper-opt">
        <h5 class="offcanvas-title" id="offcanvasInfoLabel">Theater info</h5>
        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close" (click)="hidetheaterinfo=false"></button>
    </div>
    <div class="offcanvas-body side-wrapper-opt offcanvasbodystyle" style="overflow-y: visible;">
        <h5 class="pb-2" style="font-style: italic;">Data</h5>
        <div *ngFor="let item of theater | keyvalue">
            <div>
                <cite class="mt-4" style="font-size: small;"> -{{item.key}} </cite>
                <h5> {{item.value}} </h5>
            </div>
        </div>
    </div>
</div>




<!-- DIV HEAD ESTERNO -->
<div>
    <!-- SPINNER -->
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading Elements...</p>
    </ngx-spinner>
</div>