<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding-left: 1em !important;"
    *ngIf="theater!==undefined">
    <div class="container-fluid">
        <!-- TL LOGO -->
        <a class="navbar-brand m-0"> {{theater["name"]}} </a>

        <!-- BUTTON FOR MENU COLLAPSE -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: end;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Theater info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Option1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Option2</a>
                </li>
            </ul>
        </div>

    </div>
</nav>


<!-- 
    #0f131a  OUT
    #212529  INT 
 -->


<div class="container container-wrapper">


    <div class="row p-1" style="height: 2em;">

        <div class="col-6 text-center">
            <button type="button" class="btn btn-primary" (click)="makezoom(0.1)">Zoom in</button>
            <button type="button" class="btn btn-primary" (click)="makezoom(-0.1)">Zoom out</button>
            <button type="button" class="btn btn-primary" (click)="showallcomponent()">Show all</button>

            <!-- <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button> -->
            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasInfo" aria-controls="offcanvasInfo">
                Button with data-bs-target
              </button> -->
        </div>
        <div class="col-4">
            <input type="text" placeholder="Find Module" ngxTypeahead
                class="col-sm-12 form-control" [value]="nodetofind" [taList]="namelist"
                (taSelected)="findElement($event)">
            <!-- <button type="button" class="btn btn-info" (click)="findElement()">find</button> -->
        </div>

    </div>


    <div class="row wrapper" style="padding: 1em;">

        <div class="col p-0" style="width: 100%; height: 100%;">
            <div #nodeEditor class="node-editor rete-wrapper" style="
            border-radius: 1.7em;
            /* margin: 2em; */
            ">
            </div>
        </div>

        <!-- 
            #0f131a  OUT
            #212529  INT 
        -->

        <!-- <div class="col side-wrapper side-wrapper-opt" *ngIf="showside && hidemoduleinfo">
            <div class="row mt-2 mb-2">
                <div class="col m-auto">
                    <h4 class="m-auto">Node Properties</h4>
                </div>
                <div class="col m-auto" style="text-align: end;">
                    <button type="button" class="btn-close btn-close-white" aria-label="Close"
                        (click)="hidemoduleinfo=false"> </button>
                </div>
            </div>

            <div *ngFor="let item of nodeselected.canvas_info | keyvalue">
                <div>
                    <cite class="mt-4" style="font-size: small;"> -{{item.key}} </cite>
                    <h5> {{item.value}} </h5>
                </div>
            </div>
            <div style="width: 100%; height: 100%;">
                <app-rete-modules [module]="nodeselected"></app-rete-modules>
            </div>
        </div> -->

    </div>
</div>


<div *ngIf="showside && hidemoduleinfo" class="offcanvas offcanvas-end show offcanvasstyle" tabindex="-1"
    id="offcanvasInfo" data-bs-scroll="true" data-bs-backdrop="false" aria-labelledby="offcanvasInfoLabel"
    style="visibility: visible; min-width: 50%; opacity: 99%; box-shadow: 0 .5rem 1rem rgba(0,0,0,.53)!important;">
    <div class="offcanvas-header side-wrapper-opt">
        <h5 class="offcanvas-title" id="offcanvasInfoLabel">{{nodeselected.canvas_info.title}}</h5>
        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close" (click)="hidemoduleinfo=false"></button>
    </div>
    <div class="offcanvas-body side-wrapper-opt offcanvasbodystyle">
        <h5 class="pb-2">Node Properties</h5>
        <div *ngFor="let item of nodeselected.canvas_info | keyvalue">
            <div>
                <cite class="mt-4" style="font-size: small;"> -{{item.key}} </cite>
                <h5> {{item.value}} </h5>
            </div>
            <!-- <b>{{item.key}}</b>: <b>{{item.value}}</b> -->
        </div>
        <div style="width: 100%; height: 100%;">
            <app-rete-modules [module]="nodeselected"></app-rete-modules>
        </div>
    </div>
</div>






<!-- DIV HEAD ESTERNO -->
<div>
    <!-- SPINNER -->
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading Elements...</p>
    </ngx-spinner>
</div>