<div *ngIf="isSimple" class="container container-wrapper">
    <div class="row wrapper" style="padding: 3%;">
        <div #nodeEditor class="node-editor rete-wrapper shadow"
            style="background: rgb(33, 37, 41); border-radius: 5%;"></div>
    </div>
</div>


<ng-container *ngIf="!isSimple">
    <!----------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------->
    <!------------------------NAVBAR----------------------------------------------->
    <!----------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------->
    <app-navbar *ngIf="navbarData" [title]="module?module.name:'@'" [element]="navbarData"
        (itemSelected)="navItemSelected($event)">
    </app-navbar>

    <!----------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------->
    <!------------------------underBAR--------------------------------------------->
    <!----------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------->
    <div class="container container-wrapper">

        <app-underbar *ngIf="underbarData" [(element)]="underbarData" (itemSelected)="underbarElementSelected($event)">
        </app-underbar>
        <!-- | -->
        <!-- V -->
        <ng-template #map_underbar>
            <button type="button" class="btn btn-secondary" (click)="showMinimap()" data-toggle="tooltip"
                data-placement="bottom" title="show/hide map">
                <div class="d-grid">
                    <i *ngIf="!ismapvisible" class="bi bi-slash-lg d-grid-1-1-1"></i>
                    <i class="bi bi-map d-grid-1-1-2"></i>
                </div>
            </button>
        </ng-template>
        <ng-template #search_underbar>
            <div class="search-div">
                <input ngxTypeahead *ngIf="NodeNameList" type="text"
                    class="col-sm-12 form-control bg-secondary search-input" placeholder="Find Node"
                    [value]="nodetofind" [taList]="NodeNameList" (taSelected)="findElement($event)"
                    (click)="updateNameList()">
                <!-- <button type="button" class="btn btn-info" (click)="findElement()">find</button> -->
            </div>
        </ng-template>
        <ng-template #arrange_underbar>
            <button type="button" class="btn btn-secondary" (click)="arrangeNodes()" data-toggle="tooltip"
                data-placement="bottom" title="arrange nodes">
                <i class="bi bi-bezier"></i>
            </button>
        </ng-template>

        <!-- -------NODE EDITOR------- -->
        <div class="row wrapper padding-div-node-editor">
            <div class="col p-0 w-h-100">
                <div #nodeEditor class="node-editor w-h-100-important border-node-editor">
                </div>
            </div>
        </div>

    </div>


    <!----------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------->
    <!------------------------OFFCANVAS NODE--------------------------------------->
    <!----------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------->
    <app-offcanvas *ngIf="nodeSelected" [(show)]="hideNodeInfo" [element]="offcanvasElementNode"
        [title]="nodeSelected.data?.name" [alt_title]="nodeSelected.data?.type+' node'" position="end">
    </app-offcanvas>

    <!-- | -->
    <!-- V -->

    <ng-template #offcanvasElementNode>
        <app-tabnav *ngIf="nodeSelected && tabnavElementNode" [element]="tabnavElementNode"></app-tabnav>
    </ng-template>

    <!-- | -->
    <!-- V -->

    <ng-template #tab_node_data>
        <ng-container *ngFor="let field of displayNdata['base']|keyvalue : notSort">
            <div *ngFor="let x of field.value|keyvalue : notSort">
                <div class="div-data-item">
                    <h5> {{x.key}} </h5>
                    <ul class="list-group list">
                        <li *ngFor="let y of x.value" class="list-group-item list-item">
                            {{y}}
                        </li>
                    </ul>
                </div>
            </div>
        </ng-container>
        <!-- <div *ngFor="let item of nodeSelected.data | keyvalue : notSort">
        <div *ngIf="item.key!=='Input' && item.key!=='Output'" class="div-data-item">
            <app-data-input-v2 [title]="item.key" [(value)]="nodeSelected.data[item.key]" formType="text"
                (onChange)="updateSelectedNode()"></app-data-input-v2>
        </div>
    </div> -->
    </ng-template>

    <ng-template #tab_node_ports>
        <app-tabnav *ngIf="nodeSelected && tabnavPorts" [element]="tabnavPorts"></app-tabnav>
    </ng-template>
    <!-- | -->
    <!-- V -->
    <ng-template #tab_port_in>
        <ng-container *ngIf="displayNdata['ports']['input'].length>0">
            <ng-container *ngFor="let field of displayNdata['ports']['input'] | keyvalue : notSort">
                <div *ngFor="let item of field.value|keyvalue : notSort" class="row div-data-item">
                    <h5>{{item.key}}</h5>
                    <ul class="list-group list">
                        <li class="list-group-item list-item">
                            {{item.value}}
                        </li>
                    </ul>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="displayNdata['ports']['input'].length<=0">
            <div class="row div-data-item">
                <h5>This node doesn't have input port</h5>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #tab_port_out>
        <ng-container *ngIf="displayNdata['ports']['output'].length>0">
            <ng-container *ngFor="let field of displayNdata['ports']['output'] | keyvalue : notSort">
                <div *ngFor="let item of field.value|keyvalue : notSort" class="row div-data-item">
                    <h5>{{item.key}}</h5>
                    <ul class="list-group list">
                        <li class="list-group-item list-item">
                            {{item.value}}
                        </li>
                    </ul>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="displayNdata['ports']['output'].length<=0">
            <div class="row div-data-item">
                <h5>This node doesn't have output port</h5>
            </div>
        </ng-container>
    </ng-template>

    <ng-template #tab_node_more>
        ...
    </ng-template>

    <!----------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------->
    <!---------------------OFFCANVAS MODULE DATA---------------------------------->
    <!----------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------->

    <app-offcanvas *ngIf="module" [(show)]="hideModuleInfo" [element]="offcanvasElementModule" title="Module info"
        position="start"></app-offcanvas>

    <ng-template #offcanvasElementModule class="search-input">

        <app-tabnav *ngIf="module && tabnavElementModule" [element]="tabnavElementModule"></app-tabnav>

        <!-- <ng-container *ngFor="let field of displayMdata|keyvalue : notSort">
        <div *ngFor="let x of field.value|keyvalue : notSort">
            <div *ngIf="x.key.toLowerCase()!=='input' && x.key.toLowerCase()!=='output'" class="div-data-item">
                <h5> {{x.key}} </h5>
                <ul>
                    <li *ngFor="let y of x.value">
                        {{y}}
                    </li>
                </ul>
            </div>
        </div>
    </ng-container> -->

    </ng-template>

    <ng-template #tab_module_basic>
        <ng-container *ngFor="let field of displayMdata['basic']|keyvalue : notSort">
            <ng-container *ngFor="let item of field.value | keyvalue : notSort">
                <div *ngIf="item.key" class="row div-data-item">
                    <h5> {{item.key}} </h5>
                    <ul class="list-group list">
                        <li *ngFor="let x of item.value" class="list-group-item list-item">
                            {{x}}
                        </li>
                    </ul>
                </div>
            </ng-container>
        </ng-container>
    </ng-template>
    <ng-template #tab_module_statistics>
        <ng-container *ngFor="let field of displayMdata['statistics']|keyvalue : notSort">
            <ng-container *ngFor="let item of field.value | keyvalue : notSort">
                <app-window-item *ngIf="item.key" [title]="item.key" [onlyResize]="true">
                    <ul class="list-group list">
                        <li *ngFor="let x of item.value" class="list-group-item list-item">
                            {{x}}
                        </li>
                    </ul>
                </app-window-item>
            </ng-container>
        </ng-container>
    </ng-template>
    <ng-template #tab_module_more>
        <app-tabnav *ngIf="module && tabnavOpt" [element]="tabnavOpt"></app-tabnav>
    </ng-template>
    <!-- | -->
    <!-- V -->
    <ng-template #tab_in_opt>
        <ng-container *ngFor="let item of displayMdata['option']['input']|keyvalue : notSort">
            <container *ngFor="let field of item.value|keyvalue : notSort">
                <app-window-item [title]="field.key" [onlyResize]="true">
                    <ul class="list-group list">
                        <li *ngFor="let x of field.value|keyvalue : notSort" class="list-group-item list-item">
                            {{x.key.toUpperCase()}}:<br>{{x.value}}
                        </li>
                    </ul>
                </app-window-item>
            </container>
        </ng-container>
    </ng-template>
    <ng-template #tab_out_opt>
        <ng-container *ngFor="let item of displayMdata['option']['output']|keyvalue : notSort">
            <ng-container *ngFor="let field of item.value|keyvalue : notSort">
                <app-window-item [title]="field.key" [onlyResize]="true">
                    <ul class="list-group list">
                        <li *ngFor="let x of field.value|keyvalue : notSort" class="list-group-item list-item">
                            <!-- {{x.key.toUpperCase()}}:<br> -->
                            {{x.value}}
                        </li>
                    </ul>
                </app-window-item>
            </ng-container>
        </ng-container>
    </ng-template>

    <ng-template #tab_module_interfaces>
        <app-tabnav *ngIf="module && tabnavIF" [element]="tabnavIF"></app-tabnav>
    </ng-template>
    <!-- | -->
    <!-- V -->
    <ng-template #tab_if_cons>
        <ng-container *ngIf="displayMdata['interfaces']['consumer_if'].length>0">
            <ng-container *ngFor="let item of displayMdata['interfaces']['consumer_if']|keyvalue : notSort">
                <ng-container *ngFor="let field of item.value|keyvalue : notSort" class="row div-data-item">
                    <app-window-item [title]="field.key" [onlyResize]="true">
                        <ul class="list-group list">
                            <li *ngFor="let x of field.value|keyvalue : notSort" class="list-group-item list-item">
                                {{x.key}}<br>{{x.value}}
                            </li>
                        </ul>
                    </app-window-item>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="displayMdata['interfaces']['consumer_if'].length<=0">
            <div class="div-data-item">
                <h5> This module doesn't have consumer interface </h5>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #tab_if_prod>
        <ng-container *ngIf="displayMdata['interfaces']['producer_if'].length>0">
            <ng-container *ngFor="let item of displayMdata['interfaces']['producer_if']|keyvalue : notSort">
                <ng-container *ngFor="let field of item.value|keyvalue : notSort" class="row div-data-item">
                    <app-window-item [title]="field.key" [onlyResize]="true">
                        <ul class="list-group list">
                            <li *ngFor="let x of field.value|keyvalue : notSort" class="list-group-item list-item">
                                {{x.key}}<br>{{x.value}}
                            </li>
                        </ul>
                    </app-window-item>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="displayMdata['interfaces']['producer_if'].length<=0">
            <div class="div-data-item">
                <h5> This module doesn't have producer interface </h5>
            </div>
        </ng-container>
    </ng-template>

    <ng-template #tab_module_capabilities>
        <ng-container *ngFor="let field of displayMdata['capabilities']|keyvalue : notSort">
            <ng-container *ngFor="let item of field.value | keyvalue : notSort">
                <app-window-item [title]="item.key" [onlyResize]="true">
                    <ul class="list-group list">
                        <li class="list-group-item list-item">
                            {{item.value}}
                        </li>
                    </ul>
                </app-window-item>
            </ng-container>
        </ng-container>
    </ng-template>

    <ng-template #tab_module_counter>
        <ng-container *ngFor="let field of displayMdata['counter']|keyvalue : notSort">
            <ng-container *ngFor="let item of field.value | keyvalue : notSort">
                <div class="row div-data-item">
                    <h5>{{item.key}}</h5>
                    <ul class="list-group list">
                        <li class="list-group-item list-item">
                            {{item.value}}
                        </li>
                    </ul>
                </div>
            </ng-container>
        </ng-container>
    </ng-template>

    <ng-template #tab_module_parameters>
        <app-tabnav *ngIf="module && tabnavPAR" [element]="tabnavPAR"></app-tabnav>
    </ng-template>
    <!-- | -->
    <!-- V -->
    <ng-template #tab_anchor>
        <ng-container *ngIf="displayMdata['parameters']['anchor'].length<=0">
            <div class="div-data-item">
                <h5>Anchor parameters not found</h5>
            </div>
        </ng-container>
        <ng-container *ngIf="displayMdata['parameters']['anchor'].length>0">
            <ng-container *ngFor="let item of displayMdata['parameters']['anchor']|keyvalue : notSort">
                <ng-container *ngFor="let field of item.value|keyvalue : notSort">
                    <app-window-item [title]="field.key" [onlyResize]="true">
                        <ul class="list-group list">
                            <li class="list-group-item list-item">
                                {{field.value}}
                            </li>
                        </ul>
                    </app-window-item>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-template>
    <ng-template #tab_fixed>
        <ng-container *ngIf="displayMdata['parameters']['fixed'].length<=0">
            <div class="div-data-item">
                <h5>Fixed parameters not found</h5>
            </div>
        </ng-container>
        <ng-container *ngIf="displayMdata['parameters']['fixed'].length>0">
            <ng-container *ngFor="let item of displayMdata['parameters']['fixed']|keyvalue : notSort">
                <ng-container *ngFor="let field of item.value|keyvalue : notSort">
                    <app-window-item [title]="field.key" [onlyResize]="true">
                        <ul class="list-group list">
                            <li *ngFor="let x of field.value|keyvalue : notSort" class="list-group-item list-item">
                                {{x.key.toUpperCase()}}:<br>{{x.value}}
                            </li>
                        </ul>
                    </app-window-item>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-template>
    <ng-template #tab_instance>
        <ng-container *ngIf="displayMdata['parameters']['instance'].length<=0">
            <div class="div-data-item">
                <h5>Instance parameters not found</h5>
            </div>
        </ng-container>
        <ng-container *ngIf="displayMdata['parameters']['instance'].length>0">
            <ng-container *ngFor="let item of displayMdata['parameters']['instance']|keyvalue : notSort">
                <ng-container *ngFor="let field of item.value|keyvalue : notSort">
                    <app-window-item [title]="field.key" [onlyResize]="true">
                        <ul class="list-group list">
                            <li *ngFor="let x of field.value|keyvalue : notSort" class="list-group-item list-item">
                                {{x.key.toUpperCase()}}:<br>{{x.value}}
                            </li>
                        </ul>
                    </app-window-item>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-template>
    <ng-template #tab_structural>
        <ng-container *ngIf="displayMdata['parameters']['structural'].length<=0">
            <div class="div-data-item">
                <h5>Structural parameters not found</h5>
            </div>
        </ng-container>
        <ng-container *ngIf="displayMdata['parameters']['structural'].length>0">
            <ng-container *ngFor="let item of displayMdata['parameters']['structural']|keyvalue : notSort">
                <ng-container *ngFor="let field of item.value|keyvalue : notSort">
                    <app-window-item [title]="field.key" [onlyResize]="true">
                        <ul class="list-group list">
                            <li *ngFor="let x of field.value|keyvalue : notSort" class="list-group-item list-item">
                                {{x.key.toUpperCase()}}:<br>{{x.value}}
                            </li>
                        </ul>
                    </app-window-item>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-template>




</ng-container>