<div class="container container-wrapper">
    <div class="row wrapper" style="padding: 3%;">
        <div #nodeEditor class="node-editor rete-wrapper shadow" style="background: rgb(33, 37, 41); border-radius: 5%;"></div>
    </div>
</div>

<!-- DIV HEAD ESTERNO -->
<!-- <div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading Elements...</p>
    </ngx-spinner>
</div> -->

<!-- <div class="row strong-wrapper">
    <div class="col">
        <div #nodeEditor class="node-editor"></div>
    </div>
    <div *ngIf="hidemoduleinfo" style=" position: absolute; top: 40px; right: 40px;  background-color: blue;">
        Elementi:
        <div *ngFor="let item of nodeselected | keyvalue">
            Key: <b>{{item.key}}</b> and Value: <b>{{item.value}}</b>
        </div>
    </div>
</div> --> 