<!-- <app-navbar-element *ngIf="router.url !== '/VISUALIZER' && router.url !== '/COMPOSER' "></app-navbar-element> -->
<div class="bg-component">
    <app-navbar-element></app-navbar-element>


    <!-- <p>home works!</p> -->
    <div class="component-div">
        <div class='container' style="color: white;">
            <div class='row text-center mt-4'>
                <span class="display-3"> Cyber Range Theater and Module Visualization/Constructor </span>
            </div>
            <div class='row text-center mt-3'>
                <span class="h5"> Visual design orchestrator for infrastructured system </span>
            </div>
            <div class='row justify-content-center text-center mt-3'>
                <div class="col-4 box-color-2 zoom">
                    <div class="row justify-content-center">
                        <h1 class="display-4 font-size-05 mb-1 text-break"> Designer </h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-outline-light m-2 w-75 text-break"
                                (click)="buttonClick(COMPOSER,Theater)">Create Theater</button>
                        </div>
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-outline-light m-2 w-75 text-break"
                                (click)="buttonClick(COMPOSER,Module)">Create Module</button>
                        </div>
                    </div>
                </div>
                <div class="col-4 box-color-1 zoom">
                    <div class="row justify-content-center">
                        <h1 class="display-4 font-size-05 mb-1 text-break"> CyberRange</h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-outline-light m-2 w-75 text-break"
                                (click)="buttonClick(VISUALIZER,Theater)">Visualize Theater</button>
                        </div>
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-outline-light m-2 w-75 text-break"
                                (click)="buttonClick(VISUALIZER,Module)">Visualize Module</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- MODAL -->
<app-modal *ngIf="formElementModal" [element]="dataModal" [(show)]="isModalActive" (onButtonPressed)="print($event)">
</app-modal>

<!-- FORM -->
<ng-template #data_input_template>
    <div class="accordion" id="accordionHome">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNew"
                    aria-expanded="true" aria-controls="collapseNew">
                    {{branch===COMPOSER?"Create new ":"Visualize "}}{{type}}
                </button>
            </h2>
            <div id="collapseNew" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionHome">
                <div class="accordion-body">
                    <app-data-input #data_input [element]="formElementModal"
                        (dataSubmitted)="dataInputReturned($event)">
                    </app-data-input>
                </div>
            </div>
        </div>
        <div class="accordion-item" *ngIf="branch===COMPOSER">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseUpload" aria-expanded="false" aria-controls="collapseUpload">
                    Design {{type}} from file
                </button>
            </h2>
            <div id="collapseUpload" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionHome">
                <div class="accordion-body">
                    <input #fileInput style="display: none" type="file" (change)="onFileSelected($event)">
                    <button class="btn" (click)="fileInput.click()">Select File</button>
                    <button class="btn" (click)="onUpload()" [disabled]="!(fileLoaded)">Upload</button>
                    <button class="btn" (click)="onReset(fileInput)" [disabled]="!(fileLoaded)">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>