<div class="node" [ngClass]="[selected(), node.name] | kebab">


  <!-- <div class="container">
    <div class="row justify-content-between">
      <div class="col-auto mr-auto">
        <div class="title">
          {{ node.data.title === "" || node.data.title === undefined ? "Assign name" : node.data.title }}
        </div>
      </div>
      <div class="col-2 m-auto">
        <button class="btn btn-secondary" type="button" (click)="showhidesocket()" style="vertical-align: baseline;">
          <i *ngIf="nothide" class="bi bi-eye"></i>
          <i *ngIf="!nothide" class="bi bi-eye-slash"></i>
        </button>
      </div>
    </div>
  </div> -->


  <!-- CONTENT -->
  <div class="container">
    <div class="row justify-content-center">
      <!-- <img src="{{imageSrc}}" style="width: 4em;height: 2.5em;" class="d-inline-block" alt="{{imageAlt}}" /> -->
      <div class="card" style="margin-top: 0.5em;">
        <div class="card-content">
          <div class="card-body" style="padding: 0;">
            <div class="media d-flex" style="margin: 10px;">
              <div class="align-self-center" style="
              border-width: 2px;
              border: #212529;
              border-radius: 50%;
              border-style: double;
              width: 50px;
              height: 50px;
              justify-content: center;
              display: flex;">
                <!-- <img src="{{imageSrc}}" style="height: 2.5em;" class="d-inline-block" alt="{{imageAlt}}" /> -->
                <i class="bi bi-server" style="font-size: 1.5em; margin:auto;"> </i>
              </div>
              <div class="media-body text-right"
                style="margin: auto; font-family: Bahnschrift SemiBold; margin-left: 30px;direction: rtl;">
                <h5 style="margin: auto!important;"> SERVER </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample">
      Button with data-bs-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
      activates the relevant trigger.
    </div>
  </div> -->


  <div *ngIf="nothide">

    <div *ngIf="nothide">

      <!-- OUTPUT SOCKET  MODIFICATO NGIF -->
      <div class="output" style="text-align: right;display: flex;justify-content: end;" *ngFor="let output of outputs">
        <div class="output-title">{{output.name}}</div>
        <div class="" style="display: grid;">
          <rete-socket style="grid-row: 1;grid-column: 1; z-index: 2;" rete-socket [io]="output"
            [socket]="output.socket">
          </rete-socket>
          <i class="bi bi-ethernet m-auto"
            style="z-index: 1;grid-row: 1;grid-column: 1; margin-right: 15px!important; color: white/*#96b38a*/;"></i>
        </div>
      </div>


      <!-- <div class="control" *ngFor="let control of controls" [rete-control]="control"></div> -->

      <!-- INPUT SOCKET -->
      <!-- <div class="input" style="text-align: left;display: flex;justify-content: start;" *ngFor="let input of inputs">
        <div class="" style="display: grid;">
          <rete-socket style="grid-row: 1;grid-column: 1; z-index: 2;" rete-socket [io]="input" [socket]="input.socket">
          </rete-socket>
          <i class="bi bi-ethernet m-auto"
            style="z-index: 1;grid-row: 1;grid-column: 1; margin-left: 15px!important; color: white/*#96b38a*/;"></i>
        </div>
        <div class="input-title" *ngIf="!input.showControl()">{{input.name}}</div>
        <div class="input-control" *ngIf="input.showControl()" [rete-control]="input.control"></div>
      </div>
    </div> -->

  </div>