<div class="row p-1 mg-1">
    <div class="col-6 text-left d-flex">

        &nbsp;

        <ng-container *ngFor="let item of element" class="col-auto">

            <!-- {{print("ii",item)}} -->

            <ng-container *ngIf="item.element.length > 1">

                <div class="btn-group" role="group" aria-label="Basic example">
                    <ng-container *ngFor="let el of item.element">
                        <!-- {{print("ee",el)}} -->
                        <button *ngIf="el.type==='button'" type="button" class="btn btn-secondary"
                            (click)="itemClicked(el)" data-toggle="tooltip" data-placement="bottom" title={{el.button.tooltipText}}>
                            <i [ngClass]="el.button.iconClass"></i>
                        </button>
                        <ng-container *ngIf="el.type==='template'" [ngTemplateOutlet]="el.template">
                        </ng-container>
                    </ng-container>
                </div>

            </ng-container>

            <ng-container *ngIf=" item.element.length === 1 && item.element[0].type === 'button' ">
                <button *ngIf="item.element[0].type==='button'" type="button" class="btn btn-secondary"
                    (click)="itemClicked(item.element[0])">
                    <i [ngClass]="item.element[0].button.iconClass"></i>
                </button>
            </ng-container>

            <ng-container *ngIf="item.element.length === 1 && item.element[0].type==='separator'">
                <i class="bi bi-grip-vertical" style="margin-top: auto; margin-bottom: auto;"></i>
            </ng-container>

            <ng-container *ngIf="item.element.length === 1 && item.element[0].type==='template'">
                <ng-container *ngIf="item.element[0]" [ngTemplateOutlet]="item.element[0].template" (click)="itemClicked(item.element[0])"></ng-container>
            </ng-container>

        </ng-container>


        <!-- <i class="bi bi-grip-vertical" style="margin-top: auto; margin-bottom: auto;"></i> -->

    </div>
</div>