html, body, app-root
    display: block
    height: 100%
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
/* Importing Bootstrap SCSS file. */

.node-editor .minimap
    right: 0px  !important
    left: 20px  !important