<div class="accordion" id="accordionID">
    <div class="accordion-item">
        <h2 class="accordion-header" [id]="headerid">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+collapseid"
                aria-expanded="true" [attr.aria-controls]="collapseid">
                {{title}}
            </button>
        </h2>
        <div [id]="collapseid" class="accordion-collapse collapse" [attr.aria-labelledby]="headerid"
            data-bs-parent="#accordionID">
            <div class="accordion-body">
            <div [innerHTML]="content.innerHTML"></div>
            <!-- <ng-container [ngTemplateOutlet]="content"></ng-container> -->
            </div>
        </div>
    </div>
</div>