<div class="node" [ngClass]="[selected(), node.name] | kebab">

  {{ this.active ? initdatanode(node.data) : null }}

  <!-- <div class="container">
    <div class="row justify-content-between">
      <div class="col-auto mr-auto">
        <div class="title">
          {{ node.data.title === "" || node.data.title === undefined ? "Assign name" : node.data.title }}
        </div>
      </div>
      <div class="col-2 m-auto">
        <button class="btn btn-secondary" type="button" (click)="showhidesocket()" style="vertical-align: baseline;">
          <i *ngIf="nothide" class="bi bi-eye"></i>
          <i *ngIf="!nothide" class="bi bi-eye-slash"></i>
        </button>
      </div>
    </div>
  </div> -->


  <!-- CONTENT -->
  <div class="container">
    <div class="row justify-content-center">
      <!-- <img src="{{imageSrc}}" style="width: 4em;height: 2.5em;" class="d-inline-block" alt="{{imageAlt}}" /> -->
      <div class="card" style="margin-top: 0.5em;">
        <div class="card-content">
          <div class="card-body" style="padding: 0;">
            <div class="media d-flex">
              <div class="align-self-center" style="
              border-width: 2px;
              border: #212529;
              border-radius: 50%;
              border-style: double;
              width: 70px;
              height: 70px;
              justify-content: center;
              display: flex;">
                <!-- <img src="{{imageSrc}}" style="height: 2.5em;" class="d-inline-block" alt="{{imageAlt}}" /> -->
                <i *ngIf="type==='server'.toLowerCase()" class="bi bi-server"
                  style="font-size: 2em; margin:auto;"> </i>
                <i *ngIf="type==='subnet'.toLowerCase()"
                  class="bi bi-hdd-network-fill" style="font-size: 2em; margin:auto;"> </i>
                <i *ngIf="type==='network'.toLowerCase()"
                  class="bi bi-cloud-fill" style="font-size: 2em; margin:auto;"> </i>
              </div>
              <div *ngIf="type==='server'" class="media-body text-right" style="margin-left: auto; font-family: Bahnschrift SemiBold;">
                <h5 style="margin: 10px!important;"> {{node.data.title}} </h5>
                <h6 style="margin: 10px!important; text-align: end;"> os: {{node.data.os}} </h6>
              </div>
              <div *ngIf="type==='subnet'" class="media-body text-right" style="margin-left: auto; font-family: Bahnschrift SemiBold;">
                <h5 style="margin: 10px!important;"> {{node.data.title}} </h5>
                <h6 style="margin: 10px!important; text-align: end;"> cidr: {{node.data.cidr}} </h6>
                <h6 style="margin: 10px!important;text-align: end;"> version: {{node.data.version}} </h6>
              </div>
              <div *ngIf="type==='network'" class="media-body text-right" style="margin-left: auto; font-family: Bahnschrift SemiBold;">
                <h5 style="margin: 10px!important;"> {{node.data.title}} </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample">
      Button with data-bs-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
      activates the relevant trigger.
    </div>
  </div> -->


  <div *ngIf="nothide">

    <!-- OUTPUT SOCKET  MODIFICATO NGIF -->
    <div class="output" style="text-align: right;display: flex;justify-content: end;" *ngFor="let output of outputs">
      <div class="output-title">{{output.name}}</div>
      <div class="" style="display: grid;">
        <rete-socket style="grid-row: 1;grid-column: 1; z-index: 2;" rete-socket [io]="output" [socket]="output.socket">
        </rete-socket>
        <i *ngIf="type==='server'" class="bi bi-ethernet m-auto"
          style="z-index: 1;grid-row: 1;grid-column: 1; margin-right: 15px!important; color: white/*#96b38a*/;"></i>
        <i *ngIf="type==='subnet'" class="bi bi-clouds m-auto"
          style="z-index: 1;grid-row: 1;grid-column: 1; margin-right: 15px!important; color: white/*#96b38a*/;"></i>
      </div>
    </div>


    <!-- <div class="control" *ngFor="let control of controls" [rete-control]="control"></div> -->

    <!-- INPUT SOCKET -->
    <div class="input" style="text-align: left;display: flex;justify-content: start;" *ngFor="let input of inputs">
      <div class="" style="display: grid;">
        <rete-socket style="grid-row: 1;grid-column: 1; z-index: 2;" rete-socket [io]="input" [socket]="input.socket">
        </rete-socket>
        <i *ngIf="type==='network'" class="bi bi-cloud-plus m-auto"
          style="z-index: 1;grid-row: 1;grid-column: 1; margin-left: 15px!important; color: white/*#96b38a*/;"></i>
        <i *ngIf="type==='subnet'" class="bi bi-box-arrow-right m-auto"
          style="z-index: 1;grid-row: 1;grid-column: 1; margin-left: 15px!important; color: white/*#96b38a*/;"></i>
        <i *ngIf="type==='server'" class="bi bi-ethernet m-auto"
          style="z-index: 1;grid-row: 1;grid-column: 1; margin-left: 15px!important; color: white/*#96b38a*/;"></i>
        </div>
      <div class="input-title" *ngIf="!input.showControl()">{{input.name}}</div>
      <div class="input-control" *ngIf="input.showControl()" [rete-control]="input.control"></div>
    </div>
  </div>

</div>